<main>
        <!--Left Section whit buttons and assignats-->
    <section class="form-section">
        <!--Title, Name and logo-->
        <img src="/assets/svg/logo.svg" alt="Panda mangas logo"/>
        <h2>
            {{title}}
        </h2>

        <!--Puting where the forms will be placed-->
        <ng-content></ng-content>

        <!--Button Login and Register-->
        <div class="btn-wrapper">
            <button 
            class="btn-primary"
            (click)="submit()"
            [disabled]="disablePrimaryBtn"
            >
                {{primaryBtnText}}
            </button>
            <!--Divisor-->
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">
                {{secondaryBtnText}}
            </button>
        </div>
        
    </section>
    <!--Right Section whit a main text and big panda image-->
    <section class="main-section">
        <h1>Read Whit Us!</h1>
        <img src="/assets/svg/main-ilustration.svg" alt="Ilustration of a panda reading a book"/>
    </section>
</main>