<main>
        <!--Left Section whit buttons and assignats-->
    <section>
        <!--Title, Name and logo-->
        <img src="/assets/svg/logo.svg" alt="Panda mangas logo"/>
        <h2></h2>
        
        <!--Button Login or Register-->
        <button></button>
        <!--Divisor-->
        <div>
            <span>or</span>
        </div>
        <button></button>
    </section>
    <!--Right Section whit a main text and big panda image-->
    <section>
        <h1>Read Whit Us!</h1>
        <img src="/assets/svg/main-ilustration.svg" alt="Ilustration of a panda reading a book"/>
    </section>
</main>